@font-face {
  font-weight: 400;
  font-family: "Muller";
  font-style: normal;
  src: url(2DF5B4_F_0.woff2) format("woff2"),url(2DF5B4_F_0.woff) format("woff")
}

@font-face {
  font-weight: 400;
  font-family: "Muller";
  font-style: italic;
  src: url(latoitalic.woff2) format("woff2"),url(latoitalic.woff) format("woff")
}

@font-face {
  font-weight: 500;
  font-family: "Muller";
  font-style: normal;
  src: url(2DF5B4_D_0.woff2) format("woff2"),url(2DF5B4_D_0.woff) format("woff")
}

@font-face {
  font-weight: 500;
  font-family: "Muller";
  font-style: italic;
  src: url(latomediumitalic.woff2) format("woff2"),url(latomediumitalic.woff) format("woff")
}

@font-face {
  font-weight: 700;
  font-family: "Muller";
  font-style: normal;
  src: url(2DF5B4_2_0.woff2) format("woff2"),url(2DF5B4_2_0.woff) format("woff")
}

@font-face {
  font-weight: 700;
  font-family: "Muller";
  font-style: italic;
  src: url(latoheavyitalic.woff2) format("woff2"),url(latoheavyitalic.woff) format("woff")
}
